@import url("https://fonts.googleapis.com/css2?family=Honk&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fc5caf;
  --secondary-color: #2ecc71;
  --font: "Ubuntu Mono", system-ui;
  --header-font: "Honk", system-ui;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.startMenu,
.localMenu,
.onlineMenu,
.gameContainer {
  background-image: url(images/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.gameContainer {
  justify-content: center;
}

.gameContainer * {
  position: relative;
  z-index: 2;
}

.gameContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the darkness level */
  z-index: 1;
}

.startMenu .gameName,
.localMenu .localHeader,
.onlineMenu .onlineHeader {
  font-family: var(--header-font);
  margin-top: 30px;
  font-size: clamp(5rem, 10vw, 10rem);
}

.buttonContainer {
  display: flex;
  gap: 15px;
}

button {
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(180deg, #ffffb2, #ff875c, #ff3dae);
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 600;
  font-family: var(--font);
  border: 5px solid #310129;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: linear-gradient(180deg, #f7f7a1, #f87444, #ff2da7);
  transform: translateY(-5px);
}

button:active {
  transform: scale(0.98);
  background-color: #ff7a5e;
  transition: all 0.2s ease-in-out;
}

.footerContainer {
  background-color: #fc5caf7d;
  backdrop-filter: blur(10px);
  margin-top: auto;
  font-family: var(--font);
  width: 100%;
  padding: 10px;
  justify-content: space-around;
  display: flex;
}

.canvasContainer {
  position: relative;
  width: 800px;
  height: 400px;
  outline: 15px solid black;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.canvas {
  position: absolute;
}

.toast {
  font-family: var(--font);
  visibility: hidden;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transform: translateX(-50%);
  border-radius: 15px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: #202f3b;
  color: #f6f5e3;
}

.toast.show {
  visibility: visible;
  -webkit-animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
  animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
}

.toast.show.alert {
  background-color: #ff6487;
}

.spinner {
  border: 9px solid #f9f8e5;
  border-top: 9px solid #f74098d5;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dialog {
  font-family: var(--font);
  top: 50%;
  left: 50%;
  font-size: 1.1rem;
  overflow: visible;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease-out;
  border: none;
  padding: 20px 40px 20px 40px;
  border-radius: 15px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: #7c1f7c;
  color: #f6f5e3;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.dialogContainer,
.idContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.idContainer .gameId {
  background-color: #bd3cbd;
  padding: 5px 20px;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.idContainer .gameId:hover {
  background-color: #d972d9;
}

.dialogForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.formElement {
  display: flex;
  gap: 7px;
  flex-direction: column;
}
.formElement input {
  padding: 5px 10px;
}
.dialog button {
  font-size: 1.1rem;
  width: 120px;
  padding: 10px;
}

.gameId .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #bd3cbd;
  font-size: min(5vw, 1rem);
  color: #fefefe;
  text-align: center;
  border-radius: 15px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

.gameId:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.controlsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.controlsHeader {
  font-family: var(--header-font);
  font-size: clamp(2rem, 5vw, 5rem);
}
.controls {
  font-family: var(--font);
  background-color: #fc5caf7d;
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  padding: 10px;
  border-radius: 15px;
}
.wsContainer,
.arrowContainer {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.buttonImageContainer {
  width: 80px;
  height: 80px;
}
.buttonImage {
  width: auto;
  height: 80px;
}
.arrowImage {
  height: 70px;
}
dialog:-internal-dialog-in-top-layer::backdrop {
  position: fixed;
  inset: -20px; /* Increase the size beyond the viewport */
  background: rgba(0, 0, 0, 0.3); /* Darker backdrop */
}
